.a5eeb-button {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  width: fit-content;
  margin-left: auto;
  padding: 0.25rem 0.5rem;
  background: transparent;
  transition: all 0.15s ease-in-out;

  &--header {
    color: #f6f2eb;

    &:focus,
    &:hover {
      color: #fff;
    }
  }

  &:focus,
  &:hover {
    box-shadow: none;
  }
}
