.fc-document {
  position: relative;
  display: grid;
  grid-template-areas:
    "img name import"
    "img details import";
  grid-template-columns: max-content 1fr min-content;
  gap: 0 0.5rem;
  align-items: center;
  width: 100%;
  padding: 0.125rem 0.5rem 0.125rem 0.125rem;
  font-family: var(--fc-font-serif);
  font-size: var(--fc-text-size-sm);
  border: solid transparent;
  border-width: 0 0 1px;
  border-image: linear-gradient(
    90deg,
    var(--item-border-color-start, transparent) 0%,
    var(--item-border-color-end, #d5cac1) 55%
  )
    1 repeat;
  border-radius: 0;
  background: linear-gradient(90deg, transparent, var(--item-background, transparent) 70%);
  cursor: pointer;

  &--spell {
    grid-template-areas: "img name components import"
      "img details components import";
    grid-template-columns: max-content 1fr max-content min-content;
  }


  &__image {
    grid-area: img;
    display: block;
    height: 2.25rem;
    width: 2.25rem;
    object-fit: cover;
    border: 0;
  }



  &__name {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    grid-area: name;
    margin: 0;
    border: 0;
    font-size: inherit;
    font-weight: bold;
    line-height: 1;
  }

  &__details {
    font-family: var(--fc-font-sans-serif);
    grid-area: details;
    line-height: 1;
    color: #666;
    font-size: 0.694rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__icon {
    color: #888;
    font-size: var(--fc-text-size-sm);
  }
}
