.a5eeb-encounter-name[type="text"] {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0 0 0 0.25rem;
  font-family: var(--font-serif);
  font-size: var(--font-size-lg);
  color: #f6f2eb;
  border: 0;
  background: transparent;

  &:active,
  &:focus {
    box-shadow: none;
  }
}
