:root {
  // Fonts
  --fc-font-serif: "Averia Serif Libre", serif;
  --fc-font-sans-serif: "Signika", sans-serif;

  // Text Sizes
  --fc-text-size-xxs: 0.579rem;
  --fc-text-size-xs: 0.694rem;
  --fc-text-size-sm: 0.833rem;
  --fc-text-size-md: 1rem;
  --fc-text-size-lg: 1.2rem;
  --fc-text-size-xl: 1.44rem;
  --fc-text-size-xxl: 1.728rem;
  --fc-text-size-xxxl: 2.074rem;
  --fc-text-size-4xl: 2.4888rem;
}
