:root {
  --application-background: url("/modules/a5e-encounter-builder/assets/backgrounds/background-light.webp");

  // Fonts
  --font-serif: "Averia Serif Libre", serif;

  // Font sizes
  --font-size-xxs: 0.579rem;
  --font-size-xs: 0.694rem;
  --font-size-sm: 0.833rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.2rem;
  --font-size-xl: 1.44rem;
  --font-size-xxl: 1.728rem;
  --font-size-xxxl: 2.074rem;
  --font-size-4xl: 2.4888rem;

  // Outline
  --outline-gold: 0 0 0 1px #e9d7a1, 0 0 0 2px #956d58;
}
