.a5eeb-list {
  display: grid;
  align-items: center;
  column-gap: 0.75rem;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0 0.5rem;
  list-style: none;
  overflow: auto;

  &--encounters {
    grid-template-columns: 2.5rem 1fr min-content;
    grid-auto-rows: max-content 1px;
  }

  &--encounter-elements {
    grid-template-columns: 1fr min-content;
    grid-auto-rows: max-content 1px;
    margin-top: 0.5rem;
  }

  &--template-actor {
    grid-template-columns: 2.5rem 1fr min-content min-content;
    grid-auto-rows: max-content 1px;
    margin-top: 0.5rem;
  }
}
